---
import Layout from '~/layouts/PageLayout.astro';
import { CldImage } from 'astro-cloudinary';

const metadata = {
  title: "Art on Lāna'i Landing Page",
};
export const MAIN_CATEGORY_CLASS =
  'relative mb-5 flex h-[650px] flex-col items-center justify-center gap-4 overflow-hidden rounded-lg bg-white/10 px-0 text-center text-white shadow-highlight';
---

<Layout metadata={metadata}>
  <section class="container mx-auto my-8">
      <p class="italic text-white/75 ml-4 mb-4">from the mountains to the sea...</p>
      <CldImage
        src="foo/erugjwlm051zt3fhwwr3.jpg"
        alt="The Mountains"
        width={1000}
        height={1000}
        overlays={[
          {
            text: {
              color: 'white',
              fontFamily: 'Arial',
              fontSize: 50,
              fontWeight: 'bold',
              text: 'THE MOUNTAINS',
            },
            position: {
              gravity: 'center',
              y: 500,
            },
          },
        ]}
      />

      <CldImage
        src="16_cc-resize_iuomdy"
        alt="The Sea"
        width={1000}
        height={1000}
        overlays={[
          {
            text: {
              color: 'white',
              fontFamily: 'Arial',
              fontSize: 50,
              fontWeight: 'bold',
              text: 'THE SEA',
            },
            position: {
              gravity: 'center',
              y: -500,
            },
          },
      ]}
    />
    <a href="/mountains/landing">
      <CldImage src="foo/erugjwlm051zt3fhwwr3" width={800} height={400} alt="A sample image" sizes="100vw" />
    </a>
  </section>
  <section class="container mx-auto my-8">
    <a href="/sea/landing">
      <CldImage src="20230321_194630769_iOS_1_fuktzs" width={800} height={400} alt="A sample image" sizes="100vw" />
    </a>
  </section>
</Layout>
