---
import Layout from '~/layouts/PageLayout.astro';
import { CldImage } from 'astro-cloudinary';
import '~/styles/fonts.css';

const metadata = {
  title: "Art on Lāna'i Landing Page",
};
export const MAIN_CATEGORY_CLASS =
  'relative mb-5 flex h-[650px] flex-col items-center justify-center gap-4 overflow-hidden rounded-lg bg-white/10 px-0 text-center text-white shadow-highlight';
---

<Layout metadata={metadata}>
  <section class="container mx-auto">
    <p class="italic ml-4 mb-4 avenir-medium">from the mountains to the sea...</p>
    <div class="max-w-4xl mx-auto px-4">
      <a href="/mountains/landing">
        <CldImage
          class="rounded-lg"
          src="foo/erugjwlm051zt3fhwwr3.jpg"
          alt="The Mountains"
          width={1000}
          height={1000}
          sizes="(max-width: 768px) 100vw, 1000px"
          overlays={[
            {
              text: {
                color: 'white',
                fontFamily: 'xqap0ft39h1j5oxutcmu.otf',
                fontSize: 60,
                fontWeight: 'bold',
                text: 'THE MOUNTAINS',
              },
              position: {
                gravity: 'center',
                y: 500,
              },
            },
          ]}
        />
      </a>
    </div>
  </section>
  <section class="container mx-auto my-8">
    <div class="max-w-4xl mx-auto px-4">
      <a href="/sea/landing">
        <CldImage
          class="rounded-lg"
          src="lanai/mountains/fischer-main"
          alt="The Sea"
          width={1000}
          height={1000}
          overlays={[
            {
              text: {
                color: 'white',
                fontFamily: 'xqap0ft39h1j5oxutcmu.otf',
                fontSize: 60,
                fontWeight: 'bold',
                text: 'THE SEA',
              },
              position: {
                gravity: 'center',
                y: -530,
              },
            },
          ]}
        />
      </a>
    </div>
  </section>
</Layout>
