---
import Layout from '~/layouts/PageLayout.astro';
import ArtworkImage from '~/components/widgets/ArtworkImage.astro';
import '~/styles/fonts.css';
import MapDetails from '~/components/widgets/MapDetails.astro';

const metadata = {
  title: "The Lāna'i Art Collection",
};
---

<Layout metadata={metadata}>
  <section class="container mx-auto">
    <div class="mx-auto my-4 max-w-5xl sm:px-6 lg:px-8">
      <p class="italic ml-4 sm:ml-8 avenir-medium">mauka to makai...</p>
      <p class="italic ml-4 sm:ml-8 mb-4 avenir-book">from the mountains to the sea...</p>
      <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/2">
          <a href="/mountains/landing">
            <ArtworkImage
              class="rounded-lg"
              src="lanai/axyj8vngkgtjxvchxnc8"
              alt="Sensei Lanai"
              width="896"
              height="896"
            />
          </a>
        </div>
        <div class="w-full md:w-1/2">
          <a href="/sea/landing">
            <ArtworkImage
              class="rounded-lg"
              src="lanai/zitppdr7wbra3oxgtuzb"
              alt="Fischer The Breach"
              width="896"
              height="896"
            />
          </a>
        </div>
      </div>
      <MapDetails
        id="about"
        artworkDetails={{
          title: '',
          artist: 'ABOUT THE COLLECTION',
          date: '',
          description: `
              The art collection thoughtfully balances the natural beauty of Lanai and the art itself. 
              Each piece is chosen to resonate with the surrounding environment, enhancing rather than competing with it. 
              Our goal is to create moments of discovery—whether through the subtle interplay of textures and forms 
              or through visual surprises that guests encounter while exploring the grounds. 
              <br><br>
              The collection seeks works that not only speak to the landscape but also invite introspection, 
              aligning with Sensei’s philosophy of personal growth and mindfulness.`,
          material: '',
          copyright: '',
          photoCredit: '',
          callToAction: {
            target: '_self',
            text: 'Learn More about the island',
            href: 'https://pulamalanai.com/#what-we-do',
          },
        }}
      />
      <MapDetails
        id="book-a-tour"
        artworkDetails={{
          title: '',
          artist: 'BOOK A TOUR',
          date: '',
          description:`
            Guided group tours of the Upper Lāna'i Art Collection (Mountains) are available. Reservations are required. 
            <br><br>
            The tour includes the 25 major artworks on the grounds of Sensei Lāna'i, A Four Seasons Resort. 
            <br><br>
            Please contact hospitality at either resort to reserve a spot on the group tour. 
            They can also help you schedule your own art adventure.
            <br><br>
            Sensei Lanai Experience Desk: <a href="tel:+18084521600">808-452-1600</a>
            `,
          material: '',
          copyright: '',
          photoCredit: '',
          callToAction: {
            target: '_self',
            text: "Visit the Four Seasons Resort Lāna'i",
            href: 'https://fourseasons.com/lanai',
          },
        }}
      />
    </div>
  </section>
</Layout>
