---
import { SITE } from 'astrowind:config';
import '~/styles/fonts.css';
---

<span
  class="avenir-heavy self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl whitespace-nowrap dark:text-white"
>
  {SITE?.name}
</span>
