---
import { SITE } from 'astrowind:config';
import '~/styles/fonts.css';
---

<span
  class="avenir-medium self-center mx-auto text-2xl md:text-xl whitespace-nowrap dark:text-white"
>
  {SITE?.name}
</span>
