---
import Layout from '~/layouts/PageLayout.astro';
import ArtworkImage from '~/components/widgets/ArtworkImage.astro';
import LandingHeader from '~/components/widgets/LandingHeader.astro';

const metadata = {
  title: 'Sea Landing Page',
};
---

<Layout metadata={metadata}>
  <LandingHeader
    region="THE SEA"
    caption=`There are 6 main artworks near the sea around Lāna'i. You can find all of them on the grounds of Sensei Lāna'i, A Four Seasons Resort. 
      <br /><br />
      Click any image below for artwork, artist, and location details.`
  />
  <a href="/sea/fischer-the-breach" class="block pt-4">
    <ArtworkImage class="rounded-lg" src="lanai/mountains/fischer-main" alt="Fischer The Breach" width="896" height="896" />
  </a>
  <a href="/mountains/castel-cocoface" class="block pt-4">
    <ArtworkImage class="rounded-lg" src="castel-cocoface-detail-1" alt="Cocoface" width="896" height="896" />
  </a>
  <a href="/mountains/castel-cocoface" class="block pt-4">
    <ArtworkImage class="rounded-lg" src="castel-cocoface-detail-1" alt="Cocoface" width="896" height="896" />
  </a>
  <a href="/mountains/castel-cocoface" class="block pt-4">
    <ArtworkImage class="rounded-lg" src="castel-cocoface-detail-1" alt="Cocoface" width="896" height="896" />
  </a>
  <a href="/mountains/castel-cocoface" class="block pt-4">
    <ArtworkImage class="rounded-lg" src="castel-cocoface-detail-1" alt="Cocoface" width="896" height="896" />
  </a>
  <a href="/mountains/castel-cocoface" class="block pt-4">
    <ArtworkImage class="rounded-lg" src="castel-cocoface-detail-1" alt="Cocoface" width="896" height="896" />
  </a>
</Layout>
