---
import Layout from '~/layouts/PageLayout.astro';
import ArtworkImage from '~/components/widgets/ArtworkImage.astro';
import LandingHeader from '~/components/widgets/LandingHeader.astro';

const metadata = {
  title: 'Sea Landing Page',
};
---

<Layout metadata={metadata}>
  <LandingHeader
    region="THE SEA"
    caption=`There are 6 main artworks near the sea around Lāna'i. You can find all of them on the grounds of Sensei Lāna'i, A Four Seasons Resort. 
      <br /><br />
      Click any image below for artwork, artist, and location details.`
  />
  <a href="/sea/fischer-the-breach" class="block pt-4">
    <ArtworkImage class="rounded-lg" src="lanai/mountains/fischer-main" alt="Fischer The Breach" width="896" height="896" />
  </a>
  <a href="/sea/mayo-outrigger" class="block pt-4">
    <ArtworkImage class="rounded-lg" src="lanai/sea/z8eplssvkuryyen4qqtm" alt="Mayo Outrigger" width="896" height="896" />
  </a>
  <a href="/sea/plensa-maria" class="block pt-4">
    <ArtworkImage class="rounded-lg" src="lanai/sea/plensa-maria" alt="Plensa Maria" width="896" height="896" />
  </a>
  <a href="/sea/kapoor-tall-tree" class="block pt-4">
    <ArtworkImage class="rounded-lg" src="kapoor-tall-tree" alt="Kapoor Tall Tree" width="896" height="896" />
  </a>
  <a href="/sea/manookian-poi-pounders" class="block pt-4">
    <ArtworkImage class="rounded-lg" src="lanai/sea/manookian-1" alt="Poi Pounders" width="896" height="896" />
  </a>
  <a href="/sea/manookian-two-women" class="block pt-4">
    <ArtworkImage class="rounded-lg" src="lanai/sea/fwzi8ino5qwyi2pgkm87" alt="Two Women" width="896" height="896" />
  </a>
</Layout>
