---
import Layout from '~/layouts/PageLayout.astro';
import { CldImage } from 'astro-cloudinary';

const metadata = {
  title: 'Startup Landing Page',
};
---

<Layout metadata={metadata}>
  <div class="max-w-4xl mx-auto px-4">
    <a href="/mountains/botero-adam-eve">
      <CldImage
        class="rounded-lg"
        src="adam-eve-main"
        alt="Botero Adam & Eve"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="aphrodite-detail-1"
        alt="Koons Aphrodite"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="burning-desire-main"
        alt="Burning Desire"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
  </div>
</Layout>
