---
import Layout from '~/layouts/PageLayout.astro';
import ArtworkImage from '~/components/widgets/ArtworkImage.astro';

const metadata = {
  title: 'Startup Landing Page',
};
---

<Layout metadata={metadata}>
  <div class="max-w-4xl mx-auto px-4">
    <a href="/mountains/botero-adam-eve">
      <ArtworkImage
        class="rounded-lg"
        src="lanai/mountains/adam-eve/main-1"
        alt="Botero Adam & Eve"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/koons-aphrodite" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="aphrodite-detail-1"
        alt="Koons Aphrodite"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/ming-tai-chi-arch" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="ju-ming-arch-main"
        alt="Ju Ming Arch"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/castel-cocoface" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="castel-cocoface-detail-1"
        alt="Cocoface"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/botero-woman-on-horse" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="botero-woman-on-horse-main"
        alt="Botero Woman on Horse"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="shapiro-main"
        alt="Shapiro"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="burning-desire-main"
        alt="Burning Desire"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="young-cautha-main"
        alt="Young Cautha"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/botero-dancers" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="botero-dancers-main"
        alt="Botero Dancers"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="plensa-heart-rivers-main"
        alt="Plensa Heart Rivers"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="lelannes-pommes-main"
        alt="Lelannes Pommes"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="plensa-talaia-main"
        alt="Plensa Talaia"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="botero-recliner-1-main"
        alt="Botero Recliner 1"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="botero-recliner-2-main"
        alt="Botero Recliner 2"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/botero-donna-seduta" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="botero-donna-seduta"
        alt="Botero Donna Seduta"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="botero-recliner-4-main"
        alt="Botero Recliner 4"
        width="896"
        height="896"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <ArtworkImage
        class="rounded-lg"
        src="plensa-heart-rivers-main"
        alt="Plensa Heart Rivers"
        width="896"
        height="896"
      />
    </a>
  </div>
</Layout>
