---
import Layout from '~/layouts/PageLayout.astro';
import { CldImage } from 'astro-cloudinary';

const metadata = {
  title: 'Startup Landing Page',
};
---

<Layout metadata={metadata}>
  <div class="max-w-4xl mx-auto px-4">
    <a href="/mountains/botero-adam-eve">
      <CldImage
        class="rounded-lg"
        src="lanai/mountains/adam-eve/adam-eve-main"
        alt="Botero Adam & Eve"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="aphrodite-detail-1"
        alt="Koons Aphrodite"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="burning-desire-main"
        alt="Burning Desire"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="castel-cocoface-detail-1"
        alt="Cocoface"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="young-cautha-main"
        alt="Young Cautha"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="botero-dancers-main"
        alt="Botero Dancers"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="botero-donna-seduta-main"
        alt="Botero Donna Seduta"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="plensa-heart-rivers-main"
        alt="Plensa Heart Rivers"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="lelannes-pommes-main"
        alt="Lelannes Pommes"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="shapiro-main"
        alt="Shapiro"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="ju-ming-arch-main"
        alt="Ju Ming Arch"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="plensa-talaia-main"
        alt="Plensa Talaia"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="botero-recliner-1-main"
        alt="Botero Recliner 1"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="botero-recliner-2-main"
        alt="Botero Recliner 2"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="botero-recliner-3-main"
        alt="Botero Recliner 3"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="botero-recliner-4-main"
        alt="Botero Recliner 4"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
    <a href="/mountains/landing" class="block pt-4">
      <CldImage
        class="rounded-lg"
        src="plensa-heart-rivers-main"
        alt="Plensa Heart Rivers"
        width={1000}
        height={1000}
        sizes="(max-width: 768px) 100vw, 1000px"
      />
    </a>
  </div>
</Layout>
